<?php
/**
 * CakePHP(tm) : Rapid Development Framework (https://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 * @link          https://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       https://opensource.org/licenses/mit-license.php MIT License
 */

$cakeDescription = 'TechOne - The best thing for you';
?>
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        <?= $cakeDescription ?>:
        <?= $this->fetch('title') ?>
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/core-img/logo.png">   
    <link rel="stylesheet" href="/admin/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/admin/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/admin/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/admin/assets/css/metisMenu.css">
    <link rel="stylesheet" href="/admin/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/admin/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="/admin/assets/css/typography.css">
    <link rel="stylesheet" href="/admin/assets/css/default-css.css">
    <link rel="stylesheet" href="/admin/assets/css/styles.css">
    <link rel="stylesheet" href="/admin/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="/admin/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
            <?= $this->fetch('content') ?>
<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- preloader area start -->
        
        <!-- login area end -->

        <!-- jquery latest version -->
        <script src="/admin/assets/js/vendor/jquery-2.2.4.min.js"></script>
        <!-- bootstrap 4 js -->
        <script src="/admin/assets/js/popper.min.js"></script>
        <script src="/admin/assets/js/bootstrap.min.js"></script>
        <script src="/admin/assets/js/owl.carousel.min.js"></script>
        <script src="/admin/assets/js/metisMenu.min.js"></script>
        <script src="/admin/assets/js/jquery.slimscroll.min.js"></script>
        <script src="/admin/assets/js/jquery.slicknav.min.js"></script>
        
        <!-- others plugins -->
        <script src="/admin/assets/js/plugins.js"></script>
        <script src="/admin/assets/js/scripts.js"></script>
    </body>

    </html>